html,
body {
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #222831;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
}

/*Header*/
#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #fbd46d;
    clear: both;
    font-size: 12px;
    height: 58px;
    padding: 0 0 0 9px;
    margin: auto;
    position: relative;
    width: 99%;
    border-radius: 5px;
    font: icon;
}


#nav li a {
    color:#222831;
    display: block;
    float: right;
    font-size: 20px;
    
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration: none;
    
}
#nav li:hover > a {
    color: white;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #222831;
    outline: 0 none;
}

#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
}
#nav ul li:hover > a {
    background-color: #222831;
}


/**************End Header********************/
form {
    width: 25.6%;
    margin: auto;
    margin-top: -7%;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 10px;
}
.screen {
    text-align: right;
    width: 12.9rem;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #eeeeee;
    letter-spacing: 2pt;
    font-size: 20px;
}
h1 {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 9rem;
    margin-bottom: 2rem;
    width: 12.9rem;
}
form input {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
}
table {
    border-radius: 4px;
    background: #eeeeee;
    margin: auto;
    padding: 8.2px;
    -webkit-box-shadow: 0px 3px 45px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 45px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 45px -5px rgba(0, 0, 0, 1);
}
input.c-delete {
    width: 6rem;
    height: 2rem;
    background: #222831;
    color: white;
    border-radius: 5px;
}
.c-delete:hover {
    background-color: rgb(40, 95, 109);
    color: rgb(255, 255, 255);
}
input.del-delete {
    width: 6rem;
    height: 2rem;
    background: #4f8a8b;
    color: white;
    border-radius: 5px;
}
.del-delete:hover {
    background-color: rgb(40, 95, 109);
    color: white;
}
.zero {
    width: 6.3rem;
    height: 2.5rem;
    font-size: 20px;
}
.equal {
    font-size: 20px;
    width: 6.3rem;
    height: 2.5rem;
    background: #fbd46d;
    color: black;
}
.equal:hover {
    background-color: #f0ebab;
    color: black;
}



/*Footer*/
#footer,#footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer {
    background-color: #fbd46d;
    clear: both;
    font-size: 12px;
    height: 58px;
    padding: 0 0 0 9px;
    margin: auto;
    position: relative;
    /*width: 99%;*/
    border-radius: 5px;
    font: icon;
}


#footer li a {
    color:#222831;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 20px;
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration: none;    
}
#footer li:hover > a {
    color: white;
     background-color: #222831;
     width: 60px;
}
#footer ul li {
    background: none;   
}
#footer ul li a {
    float: none;
}
